* {
	margin: 0;
}
html {
	scroll-behavior:smooth;
}
body {
	
	}
header {
	width:100%;
	height:120vh;
	display:flex;
	background:url('/static/img/backheader1.png')0 0/110% no-repeat;
}

.head {
	margin-top:1.5%;
}
.nav {
	width:100%;
}

.head b{
	display:flex;
	justify-content: center;
}

table {
	width:85%;
}

#first {
	font-size:37px;
	margin-left:20%;
}

.head a{
	font-size:40px;
	text-decoration:none;
	color:black;
}

.menu {
	margin-top:3%;
	display:flex;
	justify-content: center;
}

.menu li{
	display: inline-block;
	vertical-align:middle;
}

.menu a{
	font-size:17px;
	text-decoration:none;
	color:black;
	margin-right:30px;
}

.text {
	margin-top:3%;
	display:flex;
	justify-content: center;
}

.text a{
	font-size:25px;
	text-align:center;
}


.form {
	display:flex;
	justify-content: center;
	margin-top:2%;
	position:relative;
	text-align:left;
}

.form_input {
	background: rgba(170, 168, 173,0.4);
	border-radius:20px;
	font-size:16px;
	padding:7px;
	padding-left:10px;
	border:0;
}

.form_label {
	font-size:20px;
	position:absolute;
	z-index:-1;
	padding:5px;
	padding-right:9%;
}
.form_input:focus ~ .form_label,.form_input:not(:placeholder-shown) ~ .form_label {
	display:none;
}

.form img{
	position:absolute;
	padding:5px;
	z-index:-1;
	padding-left:10%;
}
.table1 {
	width:90%;
	margin-left:5%;
	margin-top:2%;
}
.spisok {
	height:15%;
	width:100%;
	margin-top:2%;
	background: rgba(170, 168, 173,0.4);
	border-radius:10px;
	border: 1px solid white;
	padding:9px;
}
.spisok a{
	font-size:30px;
	padding:7px;
	padding-left:12px;
}
#search {
	background: rgba(194, 23, 17,0.4);
	text-align:center;
}
.down {
	display: inline-block;
	width:10px;
	height:10px;
	float: right;
	margin-top:3%;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	transform:rotate(-45deg);
}
.link {
	display:flex;
	justify-content: center;
}

.link a{
	font-size:20px;
	text-decoration:none;
	color:black;
	margin-top:5%;
	margin-bottom:3%;
}

footer {
	width:100%;
	margin-bottom:5%;
	margin-top:3%;
}

footer a{
	font-size:30px;
	color:black;
	text-decoration:underline overline #c8c7c9;
	margin-bottom:3%;
}

hr {
	height:8px;
	background:#a3a3a3;
	border:none;
}
.logo {
	width:100%;
	display:flex;
	justify-content: center;
}
.table1 li {
	list-style:none;
	width:70%;
}

.table1 li ul{
	width:23%;
	position:absolute;
	display:none;
	background: rgba(170, 168, 173);
	border-radius:10px;
	border: 1px solid white;
	padding:9px;
	z-index:2;
}

.table1 li ul li{
	width:90%;
	font-size:17px;
	background: rgba(170, 168, 173,0.4);
	border-radius:10px;
	border: 1px solid white;
	padding:9px;
	list-style:none;
	margin-top:1%;
}

.table1 li:hover > ul {
	display:block;
	transition: all 0.3s ease;
}

.table1 li ul li:hover {
	background: rgba(206, 209, 217);
	transform:scale(1.03);
	transition: all 0.2s ease;
}

.hotel1 {
	height:15%;
	width:19%;
	margin-left:10%;
	margin-top:20%;
	background: rgba(170, 168, 173,0.4);
	border-radius:10px;
	border: 1px solid white;
	padding:9px;
}

.hotel1 a {
	display:flex;
	justify-content: center;
	font-size:25px;
}

.hotel1 img {
	margin-top:2%;
}

#t1 {
	margin-top:4%;
	font-size:20px;
}

#t2 {
	margin-top:4%;
	color:rgba(163, 64, 44);
	font-size:20px;
}

.hotel1 button{
	margin-top:4%;
	margin-bottom:4%;
	font-size:20px;
	background: rgba(170, 168, 173,0.75);
	border:none;
	padding:5px;
}

.hotel1 button:hover {
	background: rgba(170, 168, 173,0.45);
	transition: all 0.2s ease;
}