* {
	margin: 0;
}
html {
	scroll-behavior:smooth;
}

header {
	width:100%;
	height:100vh;
	display:flex;
	background:url('/static/img/backheader1.png')0 0/110% no-repeat;
}

.head {
	margin-top:1.5%;
}
.nav {
	width:100%;
}

table {
	width:84%;
}

.head b{
	display:flex;
	justify-content: center;
}

#first {
	font-size:37px;
	margin-left:20%;
}

.head a{
	font-size:40px;
	text-decoration:none;
	color:black;
}

.menu {
	margin-top:3%;
	display:flex;
	justify-content: center;
}

.menu li{
	display: inline-block;
	vertical-align:middle;
}

.menu a{
	font-size:17px;
	text-decoration:none;
	color:black;
	margin-right:30px;
}

.text {
	margin-top:3%;
	display:flex;
	justify-content: center;
}

.text a{
	font-size:25px;
}

.form {
	width:80%;
	height:20%;
	background: rgba(170, 168, 173,0.4);
	border: 1 solid white;
	border-radius:20px;
}

#t1 {
	font-size:35px;
	margin-top:2%;
}

.inform {
	text-align: left;
    margin-left: 3%;
	margin-top: 3%;
}

.place a{
	text-align: left;
}

#t2 {
	font-size:30px;
}

#t3 {
	font-size:19px;
	margin-left:3%;
}

#t4 {
	font-size:20px;
}

#t5 {
	margin-top: 3%;
	margin-bottom: 5%;
}

.link {
	display:flex;
	justify-content: center;
}

.link a{
	font-size:20px;
	text-decoration:none;
	color:black;
	margin-top:5%;
	margin-bottom:3%;
}

footer {
	width:100%;
	margin-bottom:5%;
	margin-top:3%;
}

footer a{
	font-size:30px;
	color:black;
	text-decoration:underline overline #c8c7c9;
	margin-bottom:3%;
}

hr {
	height:8px;
	background:#a3a3a3;
	border:none;
}
.logo {
	width:100%;
	display:flex;
	justify-content: center;
}